html {
  height: 100vh;
  width: 100vw;
  background-color: rgb(205, 255, 248);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dataTable {
  width: 100vw;
}

.dataTable table {
  width: 85vw;
  margin-left: 7vw;
  height: 300px;
}

.dataTable table td {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

#sort-by {
  margin-bottom: 30px;
}
